<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/components/header.css' />
    <link rel='stylesheet' href='/stylesheets/components/container.css' />
    {{#each stylesheets}}
      <link rel='stylesheet' href='/stylesheets/{{this}}.css' />
    {{/each}}
  </head>
  <body>
    <header class="header">
      Header
    </header>
    {{{body}}}
  </body>
</html>
