.details__example {
  width: 100%;
  height: min(20em, 40vh);
}

.details__content > * + * {
  margin-top: 1em;
}

.edit-form {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}

.edit-form input {
  display: block;
  margin-top: 1em;
  width: 100%
}