.details__example {
  width: 100%;
  height: min(20em, 40vh);
}

.details__content > * + * {
  margin-top: 1em;
}

.edit-form {
  display: flex;
  gap: 3em;
}

.edit-form label {
  flex: 1 0 0;
  font-weight: bold;
}

.edit-form input {
  display: block;
  margin-top: 1em;
  width: 100%
}