<div class="details" style="{{background}}">
  <div class="details__content">
    <h1>{{name}}</h1>

    <h2>
      SVG:
    </h2>

    <pre><code>{{svg}}</code></pre>

    <h2>CSS:</h2>

    <pre><code>{{background}}</code></pre>
  </div>
</div>
