<div class="cards">
  {{#each names}}
    <a 
      href="/details/{{this}}" 
      class="card tesselation" 
      style="background-image: url('/tesselation/{{this}}')">

      {{!-- TODO: Screen reader description --}}
    </a>
  {{/each}}
</div>