<div class="hero container" style="{{data.heroCss}}">
  <h1 class="hero__heading">Tesselation Generator</h1>

  <p class="hero__subhead">Procedurally generated tesselations for shits, giggles, and CSS background images.</p>
</div>

</div>
<div class="listings container container--wide">
  {{#each data.tesselations}}
    {{> card}}
  {{/each}}
</div>