<div class="cards">
  {{#each tesselations}}
    <a href="/details/{{this.id}}" class="card">
      <h2 class="card__title">{{this.name}}</h2>

      
      <div class="card__graphic" style="{{this.background}}">
        {{!-- TODO: Screen reader description --}}
      </div>
    </a>
  {{/each}}
</div>