body {
  background: #111;
}

* {
  box-sizing: border-box;
}

.tesselations {
  display: flex;
  flex-wrap: wrap;
}

.tesselation {
  background-image: '/svg';
  height: 28vh;
  width: 31%;
  margin: 1%
}