html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #111;
}

* {
  box-sizing: border-box;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-auto-rows: 20em;
  grid-gap: 1em;
}

.details {
  width: 100vw;
  height: 100vh;
}