@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap');

:root {
  --transparent-black: rgba(0, 0, 0, 0.8);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
}

.header {
  padding: 1em 2em;
  z-index: 1;
  position: relative;
  background: #fff;
}

.container {
  --max-width: 65em;
  padding: 2em max(2em, calc((100vw - var(--max-width)) / 2));
}

.container--wide {
  --max-width: 85em;
}

