:root {
  --button-color: var(--color-interactive);
  --button-color-hover: hsl(var(--interactive-hue), var(--interactive-saturation), 31%);
  --button-border-color: hsl(var(--interactive-hue), var(--interactive-saturation), 60%);
  --button-border-color-hover: var(--button-color);
  --button-bg-color: var(--white);
  --button-bg-color-hover: hsl(var(--interactive-hue), var(--interactive-saturation), 95%);
  --button-focus-color: hsl(var(--interactive-hue), var(--interactive-saturation), 80%);
}

.button {
  background-color: var(--button-bg-color);
  border-radius: 0.2em;
  border: var(--button-border-color)  0.1em solid;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.5em 1em;
  text-decoration: none;
  color: var(--button-color);
  transition-property: background-color, border-color, color;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  position: relative;
}

.button:hover {
  background-color: var(--button-bg-color-hover);
  border-color: var(--button-border-color-hover);
  color:  var(--button-color-hover);
}

.button:focus {
  outline: none;
}

.button::before {
  content: '';
  position: absolute;
  border-radius: 0.2em;
  left: -0.5em;
  right: -0.5em;
  bottom: -0.5em;
  top: -0.5em;
  background-color: var(--button-focus-color);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.button:focus::before {
  opacity: 1;
}