.button {
  background-color: #fff;
  border-radius: 0.2em;
  border: hsl(203, 57%, 60%) 0.1em solid;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.5em 1em;
  text-decoration: none;
  color: hsl(203, 57%, 41%);
  transition-property: background-color, border-color, color;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  position: relative;
}

.button:hover {
  background-color: hsl(203, 57%, 95%);
  border-color: hsl(203, 57%, 41%);
  color: hsl(203, 57%, 31%);
}

.button:focus {
  outline: none;
}

.button::before {
  content: '';
  position: absolute;
  border-radius: 0.2em;
  left: -0.5em;
  right: -0.5em;
  bottom: -0.5em;
  top: -0.5em;
  background-color: hsl(203, 57%, 80%);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.button:focus::before {
  opacity: 1;
}