.card {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 0.2em;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  z-index: var(--card-z-index);
}

.card__header {
  background-color: var(--transparent-white);
  padding: 0.5em 1em;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  line-height: 1.2;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.3em;
}

.card__actions {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8em;
  flex-grow: 1;
}

.card__actions > * + * {
  margin-left: 0.5em;
}

.card__primary-action::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card__secondary-action {
  position: relative;
  z-index: 2;
}

.card__graphic {
  transition: transform 0.2s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.card:hover .card__graphic,
.card:focus .card__graphic {
  transform: scale(1.1) rotate(-2deg);
}