.code-block {
  position: relative;
  border: 1px solid var(--transparent-black);
}

.code-block__code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;  overflow: auto;
  padding: 1em;
}

.code-block__actions {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1em;
  display: flex;
  align-items: center;
  background-color: var(--transparent-black);
}