.header {
  padding: 1em 2em;
  z-index: 1;
  position: relative;
  background: var(--white);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__link {
  color: var(--color-interactive);
  margin-left: 1.5em;
}

.header__link:hover {
  /* TODO */
}

.header__link:focus {
  /* TODO */
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-right: auto;
  margin-left: 0;
}

.logo__mark {
  font-size: 2em;
  height: 1em;
  width: 1em;
  margin-right: 0.25em;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-name: background-slide;
  animation-timing-function: linear;
  animation-play-state: paused;
}

.logo:hover .logo__mark {
  animation-play-state: running;
}

@keyframes background-slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 2000%;
  }
}