.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  text-align: center;
}

.hero > * + * {
  margin-top: 1em;
}

.hero__heading {
  font-size: 4em;
}

.hero__subhead {
  font-size: 1.5em;
  font-style: italic;
}