<div class="container rhythm">
  <h1>About the Tesselation Generator</h1>

  <p>
    This tool procedurally generates simple SVG tesselations. It does so by
    creating SVG path data for the top and right side of a shape, and then
    applying this same path data to the bottom and left sides.
  </p>

  <p>
    You're welcome to use these tesselations in your own projects as CSS
    backgrounds or SVG images.
  </p>

  <p>
    This was built for fun and experimentation by
    <a href="https://paulhebertdesigns.com">Paul Hebert</a>.
  </p>
</div>