<div class="hero container" style="{{data.heroCss}}">
  <h1 class="hero__heading">Tesselation Generator</h1>

  <p class="hero__subhead">Procedurally generated tesselations for fun and CSS background images.</p>
</div>

<div class="listings container container--wide js-listings">
  {{#each data.tesselations}}
    {{> card}}
  {{/each}}
</div>

<div class="js-loading">Loading...</div>

<script>
  function newCard({ id, name, css }) {
    return `{{> card id="${id}" name="${name}" css="${css}"}}`;
  }

  let count = {{ data.startCount }};
</script>
<script src="/scripts/pages/index.js" type="module"></script>